<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feian.tms.mapper.CertificateMapper">

	<select id="cerPageQueryList" resultType="com.feian.tms.domain.Certificate">
		select * from tms_certificate
		<where>
			<if test="studentName!=null and studentName!=''" >
				and student_name like concat('%',#{studentName},'%')
			</if>
			<if test="certificateNumber!=null and certificateNumber!=''" >
				and certificate_code = #{certificateNumber}
			</if>
			<if test="certificateType!=null and certificateType!=''" >
				and certificate_type = #{certificateType}
			</if>
			<if test="status!=null and status!=''" >
				and certificate_status = #{status}
			</if>
		</where>

	</select>

</mapper>