<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feian.tms.mapper.StudentMapper">


    <delete id="deleteIds">
        delete from tms_student where student_id in
        <foreach collection="idList" item="studentId" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>