<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feian.tms.mapper.TrainingClassMapper">


    <delete id="deleteBatch">
        delete from tms_training_class where training_class_id in
        <foreach collection="idList" item="trainingClassId" open="(" separator="," close=")">
            #{trainingClassId}
        </foreach>
    </delete>
</mapper>